[2014-03-23 19:56] wompydomp opened #4 "Move Receipts between Reports"
Hi,

I've a little feature request. I often fill out a receipt in the wrong expense report and would like to move it to a different one. Would that be possible?

Thank you for this great app. With OCR this would be a killer app. Are you aware that fdroid still publishes your 2.2.1 version?

Kind Regards,
Jo

[2014-04-14 01:50] edgimar opened #5 "automatic backup to cloud"
It would be a nice feature if receipts and expense metadata could be automatically synced to some folder on dropbox or Google drive (or to some sftp location).  Otherwise, unless you are frequently sending yourself reports, losing your phone could mean losing your expense records.

[2015-01-31 22:46] RealRancor opened #8 "Build error with 3.3.2: No resource found that matches the given name"
Hi,

when trying to build the app (3.3.2 tag) from source it currently fails with this message:

[code]

I can't find any infos on the net what this is causing. Are there any libraries needed to linked / described / included in this project?

[2015-02-01 17:45] wbaumann commented on #8
There shouldn't be anything outside of what's defined in the gradle build. For repro purposes, how are you trying to build the app? Using the gradle wrapper from the command line? Additionally, can you test if you can build the develop branch? It's possible that I forgot to cherry-pick a fix over.

[2015-02-04 18:41] RealRancor commented on #8
Hi,

and thanks for your reply. The release 3.3.2 is not migrated to gradle so i had used ant from command line and also with the linked f-droid build receipt above to build the app.

Both have failed with the posted error.

[2015-02-06 04:27] wbaumann commented on #8
Ah - my apologies for not recognizing this from before. I've had the
develop branch on gradle for so long, that I just assumed 3.3.2 was as
well. I'll investigate this further and see what I changes I need to
cherry-pick over to get this working. Will get back to you shortly.

On Wed, Feb 4, 2015 at 1:41 PM, RealRancor <notifications@github.com> wrote:

[2015-02-22 19:16] wbaumann commented on #8
I went ahead and pushed my develop code over to the master branch for version 3.3.3. It's the same as what's rolling out in the app store now and should work with gradle (as that's what I'm using now). Does that work for you?

[2015-03-06 22:27] RealRancor commented on #8
Hi,

and sorry for the delay. Building 3.3.3 now worked without a problem. So closing this for now.

[2015-03-06 22:27] #8 closed

[2015-03-06 22:31] RealRancor opened #9 "Using mixed case in gradle files causing build problems on linux systems"
Hi,

on systems with case sensitivity like linux the following lines:

https://github.com/wbaumann/SmartReceiptsLibrary/blob/master/settings.gradle#L1
https://github.com/wbaumann/SmartReceiptsLibrary/blob/master/settings.gradle#L6
https://github.com/wbaumann/SmartReceiptsLibrary/blob/master/SmartReceiptsLibrary/build.gradle#L6
https://github.com/wbaumann/SmartReceiptsLibrary/blob/master/SmartRecei

[2015-03-08 18:04] wbaumann commented on #4
Closing this issue as now you can move receipts between reports

[2015-03-08 18:04] #4 closed

[2015-03-08 18:06] wbaumann commented on #9
Good catch. This occurred because the Android gradle conversation defaults to having all modules start with lower case characters. On my system (OSX) at least, git is case insensitive, so it doesn't pick up the differences.

I'll fix this up to standardize.

[2015-06-20 19:52] timabell opened #10 "crash on csv export"
Hi, great app.

It reliably crashes when I choose CSV export. I deleted the `Android/data/wb.receiptspro` folder and started again in case it was bad data but it's still doing it.

The only message is "Unfortunately, Smart Receipts Pro has stopped.  [OK]"

I'm running v3.3.3 via F-droid on cyanogen-mod (12-29150322-NIGHTLY-mako) on a nexus 4.

I'm happy to collect more info if you can point me in

[2015-06-20 20:38] timabell commented on #10
Downgrading to 2.2.1 fixes it again but loses all the entries I'd made. There are no versions between these two available on f-droid.

https://f-droid.org/repository/browse/?fdfilter=smart+receipts&fdid=wb.receiptspro

[2015-06-22 00:57] wbaumann commented on #10
Hi Tim,

Sorry about this and I'll get it fixed up asap. The logcat trace you sent doesn't seem to contain a NullPointerException, but someone sent me a support email the other day asking about a similar issue:

[code]

[2015-11-06 23:49] wbaumann commented on #9
Fixed in the develop branch a little while ago. Will resolve when merged to master

[2015-12-28 01:02] xbao opened #11 "Build error: Configuration with name 'default' not found."
On clean `develop` branch, gradle fails during configuration:

[code]

With `--debug` and `--stacktrace`:

[code]

Gradle version used:
[code]

[2016-03-05 15:13] dpocock opened #13 "posting receipts to a central server"
Does the app integrate with any central server for receipt tracking, or is that on the roadmap?

[2016-03-06 20:57] wbaumann commented on #13
Hi - Not yet, but it's the top priority at the moment to build this in (the sync code was the first client-side pass at this). The ultimate plan is to provide a mix of dropbox/drive/central-server support, based on the use case. Does that work?

[2016-03-21 01:37] arichiardi opened #14 "CSV Headers are newline separated"
Hello, very very good discovery of my Sunday :+1: Good job!

There is a little bug when you include the CSV headers are included for example:

[code]

Therefore CSV parsers fail on that.

[2016-03-21 22:35] wbaumann commented on #14
Great catch (and glad to here you like the app :) )! Working on a fix right now and will have something pushed locally and to Google Play shortly. Don't hesitate to open any other issues that you might find in the future!

[2016-03-21 22:47] arichiardi commented on #14
It is weird because it does not happen all the time, so the fix might be tricky but I am here to test it don't worry (former Android dev) ;)

[2016-03-22 03:17] wbaumann commented on #14
No problem. 99% sure I found it and fixed it (just swapped the order of the comma and new lines characters), so I should have a fix ready soon.

[2016-04-05 02:03] wbaumann commented on #14
Fixed the issue. Should be pushed back to Google Play (and github). Thanks!

[2016-04-05 02:03] #14 closed

[2016-04-05 02:03] #11 closed

[2016-04-05 02:03] wbaumann commented on #10
Should be resolved with the 3.3.4 release

[2016-04-05 02:03] #10 closed

[2016-04-05 02:04] wbaumann commented on #9
Should be merged and resolved now

[2016-04-05 02:04] #9 closed

[2016-04-05 04:07] arichiardi commented on #14
Thank you!

[2016-04-13 09:22] ssaavedra opened #15 "Support for OCR"
Would it be possible to have OCR support, so that the receipt lines could be mechanically read?

I think that would be a killer feature to have on the phone.

[2016-04-15 21:27] wbaumann commented on #15
Absolutely agree and it's definitely a big goal for down the line. I've done a lot of investigation/testing  and have broken the problem down into two parts.

First, there's the OCR aspect. OCR is actually a "solved" process in that there are a number of open source libraries out there that can perform the algorithm. If I recall correctly, there's a library, called "tesseract", that HP wrote back

[2016-04-15 22:53] ssaavedra commented on #15
I mostly agree with you.

There could be an interface on-screen for selecting which text you want to
track instead of guessing so much, as an intermediate point. That way the
whole processing could be done on the phone, which would also be a nice
privacy-sensible feature.

The second half of the challenge is then converting the receipt text into

The example you post might be solvable by context,

[2016-04-15 22:57] wbaumann commented on #15
My thought was always that - if you have to tap where the price is on the screen, isn't it just easier to type it in by hand (especially when considering the processing time for OCR may be somewhat delayed and not 100% accurate)?

However - I agree that MVP is a good idea before the whole thing. Be happy to fire up another investigation at some point. Thanks!

[2016-04-27 09:47] mingodad opened #16 "Image crop after take a phot"
Hello !
How hard would be to allow crop after take a photo and before save/select it ?
I remember that there is some intents to allow that functionality.
Cheers !

[2016-04-28 03:30] wbaumann commented on #16
I had loosely researched this previously. It looks like there's only limited support via the default system from what I can tell (e.g. http://stackoverflow.com/questions/8585341/android-camera-intent-with-crop). My guess is the best solution will be to bring in the photo in a preview mode with automatic cropping support, but this is non-trivial, especially when including edge detection, etc.

With

[2016-06-06 16:03] pcfe opened #17 "mileage (as lines, not as separate table) in PDF but not in CVS"
If I switch
- OFF Include Distance Table
- ON  Report on Daily Distance

I get a PDF report like expected, but on the CSV the distance lines are
missing.

Smart Receipts Plus 3.3.4.1

[2016-06-06 19:28] wbaumann commented on #17
Appreciate the feedback on this item. Will be sure to include this in  the next release

[2016-06-25 09:26] mooomooo opened #18 "Enhancement request: status flags for reports"
It would be nice to allow users to set status markers for reports, like "In progress", "Submitted", "Approved", "Received", etc.  That functionality would be even more useful if reports could then be grouped / filtered / colored by such status on the main screen.

This app been hugely helpful in overcoming my terrible organizational skills; adding this feature would compensate for my terrible memo

[2016-06-28 02:06] wbaumann commented on #18
Thanks for the feedback on this! I plan on adding this as part of a future update (in fact, the database already has a column for it). I mostly need to link up the UI components at this stage, so hopefully I'll be able to incorporate this soon!

[2016-12-09 19:52] wbaumann commented on #5
This is resolved as of the latest release! We now support Google Drive. I'm planning to continue adding more providers as we go along as well.

[2016-12-09 19:52] #5 closed

[2017-02-11 00:11] jberkus opened #29 "Feature Request: anonymous receipts option"
I use Smart Receipts just to collect photos of receipts and then input them into my work system.  As such, I'm really not interested in filling out all of the metadata in the receipts -- for which name is a required option, and slows me down.

What about having a configuration option for "anonymous receipts", where the Name field would get automatically filled in with the timestamp?

(incidentally

[2017-02-11 03:18] wbaumann commented on #29
Glad you really like the app so far!

I'm actually planning to remove the requirement for the name field as part of the next update. Instead of the forced entry, it'll allow you to keep it blank, so there's no duplicate data there (eg if you were ever to edit the Date field in the future, there could be a mismatch between the name and date). Would that work for you? Within the resultant list, I'd

[2017-02-13 21:56] wbaumann commented on #29
Removed the requirement for the name field in the develop branch:

https://github.com/wbaumann/SmartReceiptsLibrary/commit/399b2399561764523f50c5925e8dfca68f4c25fa

Will cut a release to master and submit an update in the next ~2 weeks or so. Will close this issue then. Thanks!

[2017-02-13 22:10] jberkus commented on #29
Wow, fast!  Thanks!

[2017-03-13 21:32] wbaumann commented on #29
Closing as this release has been pushed. The UI may still be weird at times, since the cursor still defaults to the name field. I'll look into building some better intelligence for the default field (ie starting at the price if you don't name them) as part of the next update or two. Thanks again for the feedback!

[2017-03-13 21:32] #29 closed

[2017-03-13 22:51] jberkus commented on #29
Great, updating my client so I can try it out.  Thanks so much!

[2017-04-07 16:23] linuxjet opened #37 "Default reports"
Since a report has to be created on startup, why not just have a couple default reports.
This week
Current Month
Last Month
Current Year
Last year
Last 12 Months

Just a thought.

[2017-04-10 18:20] wbaumann commented on #37
Hi James,

Definitely agree! Here's what I'm thinking to do:

- Create an optional OOBE/FTUE/on-boarding view widget, which walks the user through his/her preferences in the app
 - As part of this, there will be a "how do you wish to track your data" option, which will automatically pre-populate all the desired reports

Would that work?

[2017-07-06 13:11] wbaumann commented on #15
Resolving this as now closed with the `4.3.0` release. We support OCR via http://taggun.io/

[2017-07-06 13:11] #15 closed

[2017-07-06 13:11] wbaumann commented on #17
Resolving this item as fixed in the `4.4.0` release

[2017-07-07 17:52] wbaumann commented on #17
Whoops - reopening. The code was never pushed for some reason but working on it now. Will address soon!

[2017-07-10 16:10] ssaavedra commented on #15
The link is broken. Current URL: https://www.taggun.io/

[2017-07-10 22:41] wbaumann commented on #15
Whoops my fault - thank you for sharing the correct link!

[2017-07-16 15:10] wbaumann commented on #17
Fixed in this PR:

- https://github.com/wbaumann/SmartReceiptsLibrary/pull/53

Will resolve this when the fix is included with the `4.6.0` release

[2017-08-17 10:44] kirantpatil commented on #16
Hi @wbaumann,

Is autocrop feature available now ?

Thanks.

[2017-08-17 13:42] wbaumann commented on #16
Hi @kirantpatil,

Not yet, but it's still high up on our todo list of items. We haven't had a
chance to get around to it yet and hopefully before the year's end...

If you're interested in sending a PR for this to get it done sooner, let me
know!

Thanks,
Will

On Thu, Aug 17, 2017 at 6:44 AM, kirantpatil <notifications@github.com>
wrote:

[2017-09-10 11:59] eileenfan opened #59 "ActivityNotFoundException"
//package name: wb.receiptspro
//version: 3.3.3
 android.content.ActivityNotFoundException: No Activity found to handle Intent { act=android.intent.action.VIEW dat=market://details?id=wb.receiptspro }
 	at android.app.Instrumentation.checkStartActivityResult(Instrumentation.java:1632)
 	at android.app.Instrumentation.execStartActivity(Instrumentation.java:1424)
 	at android.app.Activity.startActiv

[2017-09-10 12:01] eileenfan commented on #59
Maybe there's no Market apps like Google Play on the device, especially on emulator. Better to check it.

[2017-09-10 16:46] wbaumann commented on #59
Hi @eileenfan . You are correct! This was a bug in an earlier version of the application. Now that we're up to release 4.7.0, however, it has been fixed, so this is on a legacy version. Where did you install the app from? F-Droid? I'll reach out to see if they can submit an updated build.

[2017-09-11 06:35] eileenfan commented on #59
I installed it  from F-droid

[2017-09-11 12:33] wbaumann commented on #59
Gotcha. Looks like Firebase has not yet processed any of our updates over a year, so we're definitely running on an outdated version there. The main culprit at the moment is Firebase, which we use for OCR scans, since it is not open source. Fortunately, Google plans to change this at "some point":

https://opensource.googleblog.com/2017/05/open-sourcing-firebase-sdks.html

But given that it's uncl

[2017-09-15 10:42] Maheshpurplenode opened #60 "google-services.json is missing"
Error:Execution failed for task ':app:processFreeDebugGoogleServices'.

   Searched Location:
  D:\Tested prjcts\SmartReceiptsLibrary-master\app\src\free\debug\google-services.json
  D:\Tested prjcts\SmartReceiptsLibrary-master\app\src\debug\free\google-services.json
  D:\Tested prjcts\SmartReceiptsLibrary-master\app\src\free\google-services.json
  D:\Tested prjcts\SmartReceiptsLibrary-master\app\

[2017-09-15 16:43] wbaumann commented on #60
Hi @Maheshpurplenode, we currently have builds working immediately out of the box, since we rely on Firebase for a few things. The README documents this in better details: https://github.com/wbaumann/SmartReceiptsLibrary/blob/master/README.md

But the crux of the issue is that you'll need to follow the firebase documentation (https://firebase.google.com/) to configure the appropriate settings on y

[2018-01-18 19:28] #17 closed

[2018-01-26 06:46] jgehrig opened #64 "App Crashes When Re-Taking Receipt Picture"
**Repro Steps**
1. Add a new receipt (Import or Picture)
2. Save receipt
3. Tap saved receipt picture
4. Tap 'Retake Photo' and accept a new picture
5. The app crashes.

I am running the latest build from master, free debug. [Call Stack](https://github.com/wbaumann/SmartReceiptsLibrary/files/1666811/callstack.txt)

**Suspected Cause**
The callstack suggests this issue is caused by a de-referenced

[2018-01-26 18:38] wbaumann commented on #64
Thank you so much for bringing this to my attention and for including such a complete amount of details. I've gone ahead and included your proposed fix as part of:

#https://github.com/wbaumann/SmartReceiptsLibrary/commit/cf6ba0a312dc11a5fb949eecd935af222ee465cb

So it will be available in the next app release.

If you're curious, the approximate root cause of this issue is:

* This segment of log

[2018-03-22 16:08] alkoforumm opened #70 "Free on-device OCR"
I dont wanna pay anything for the ocr func so any intention to use some ocr framework on the device itself ? Like tensorflow or so..I can live with the processing time and battery los on a mobile device.

[2018-03-22 23:24] wbaumann commented on #70
There's no short term intention, but I've been following [TensorFlow Lite](https://www.tensorflow.org/mobile/tflite/). It's still relatively new, so I have done any significant testing on it, but I would eventually like to support local support for privacy/performance reasons.

With that said, it's probably not something that we'll plan to work on over the course of this year, but it's definitely

[2018-04-15 23:54] arichiardi opened #73 "CSV report sending empty column"
Hi @wbaumann :smile:

As usual very nice work here! I noticed a bug with the csv report. Basically it exports something like:

[code]

You might notice the ending `,` at the end. This will translate to an empty column.

Probably an easy fix, just wanted to report it ;)

Thanks a lot for your immense work!

EDIT: version is `4.10.0.403`

[2018-04-16 00:18] arichiardi opened #74 "Receipt Name filled by Category Name on click"
Hi again :smile:!

so I will try to explain the bug: when I click on the Category Name and select a new one, the Name of the receipt is basically filled with the selected category.

This was found in version is `4.10.0.403`

[2018-04-17 02:06] wbaumann commented on #73
Hi @arichiardi - Really appreciate your feedback here :)

Had you entered a value for the `Comment` field? Or did you mean that there was a trailing comma at the end of each row?

Thanks!

[2018-04-17 02:07] wbaumann commented on #74
Thanks for reaching out to us! If you open the settings menu, could you see if the "Match Name to Category" is set? If so, can you uncheck this and see if that fixes it? Thanks!

[2018-04-17 02:08] arichiardi commented on #73
So she Comment field is empty and also the last of the columns in the column list.

It seems that the CSV has some sort of +1 error in that it always adds an empty column to each row.

Not sure though.

[2018-04-17 02:08] arichiardi commented on #74
Ok let me check that

[2018-04-17 14:45] arichiardi commented on #74
Thanks that solves!

[2018-04-17 14:45] #74 closed

[2018-04-17 14:53] wbaumann commented on #74
@arichiardi Great! Thank you :)

[2018-04-17 14:54] wbaumann commented on #73
Ah I see what you mean. The trailing `,` at the end.

Let me look into getting this fixed for you. Thanks so much for bringing this to my attention!

[2018-04-17 17:59] wbaumann commented on #64
Resolving this now that we're not seeing it in the `4.10.x` release. Thanks again for letting me know about this!

[2018-04-17 17:59] #64 closed

[2018-04-17 18:00] wbaumann commented on #59
I'm going to resolve this one to track in this task:

https://github.com/wbaumann/SmartReceiptsLibrary/issues/66

So we can monitor all F-Droid items in one place. Thanks!

[2018-04-17 18:00] #59 closed

[2018-04-17 18:01] wbaumann commented on #60
I'm going to resolve this one to track in this task:

https://github.com/wbaumann/SmartReceiptsLibrary/issues/66

So we can monitor all F-Droid (and all FOSS) items in one place. Thanks!

[2018-04-17 18:01] #60 closed

[2018-04-17 18:02] wbaumann commented on #73
Thank you again for letting me know about this item. It is fixed in:

https://github.com/wbaumann/SmartReceiptsLibrary/commit/c7789e94a84bec993bd41e5e2e88a0f4e83e1e5a

This will be generally available in the `4.11.x` release. I will hold off on closing it until that release is completed. Thanks!

[2018-04-17 18:07] arichiardi commented on #73
Awesome thanks!

[2018-05-27 22:38] rebootd opened #77 "New receipts appear to not be stored - possible Wifi Permission issue"
New receipts are not getting stored. I ran logcat while I tried and captured a Wifi permissions issue. My devices is a Nexus 6p, with Android 8.1.0. (May 5 2018 path level)

From logcat:

    WifiService: getConnectionInfo uid=10012
    WifiPermissionsUtil: Denied: no location permission
    WifiPermissionsUtil: Denied: The current config is not for an open network.
    WifiHAL : Done!

When I exp

[2018-05-28 20:48] wbaumann commented on #77
Hi @rebootd , thanks for reaching out about this and apologies for the issue here.

Is this related to the automatic backups feature for Google Drive? That's the only part of the app that should require Wi-Fi permissions as everything else should be local

If not, could you try the following for me:

1. Open the settings menu with the the app
2. Scroll down towards the bottom
3. Click the "Email f

[2018-05-28 20:49] wbaumann commented on #77
Alternatively let me know if you'd prefer to avoid using email, and I can walk you through how to get the exact logs that would be relevant for this behavior. Thanks!

[2018-05-30 23:30] pzdawood opened #78 "App crashes when I open the open"
### Actual behaviour
When I open the smart receipts pro app suddenly crashes.
### How to reproduce
* Download the smart receipts pro app from F-driod.
* Install this app.
* Open smart receipts pro app suddenly crashes.
* Browser: smart receipts pro.
* Version:1.1.1
* Operating system:7.1.2
### Recording of the bug
https://youtu.be/OdrPkW7U2-s

[2018-05-31 03:01] wbaumann commented on #78
Hi @pzdawood ,

Your posted video was taken down I think:

More generally, however, I believe this crash stems from using a legacy version of the app. When adding some newer features, I didn't properly modularize all of our components (eg Google Drive backups), which depend on some non-FOSS libraries. I have been working towards correcting this as part of:

* https://github.com/wbaumann/SmartRecei

[2018-06-01 23:37] pzdawood commented on #78
Yes sir close

On 31 May 2018 8:31 am, "Will Baumann" <notifications@github.com> wrote:

[2018-06-02 00:13] #78 closed

[2018-09-14 21:12] wbaumann commented on #73
Closing now that `4.11.x` is released (or was released a few months ago)!

[2018-09-14 21:12] #73 closed

[2018-09-14 21:13] wbaumann commented on #77
Closing this issue for now due. Please re-open if you're still having issues!

[2018-09-14 21:13] #77 closed

[2018-10-09 05:12] neowulf opened #88 "When do the uploaded receipts from S3 get deleted?"
Hi, I was evaluating your product and decided to read some of the source code. I see that the receipts get [uploaded to S3](https://github.com/wbaumann/SmartReceiptsLibrary/blob/master/app/src/main/java/co/smartreceipts/android/ocr/OcrManager.java#L111) but it's not clear when those receipts get deleted after they are processed. When and how do the uploaded receipt images get deleted?

[2018-10-09 13:16] wbaumann commented on #88
Hey neowulf,

Thank you for the feedback. You are correct that receipts are uploaded to S3 if you're using the OCR functionality (but only if you're using this). Here's the rough flow:

- The user initiates an OCR scan
- We upload the image to S3
- We submit a service request to our backend with the S3 URL path, which then sends this request to [taggun.io](https://www.taggun.io/) (a third party th

[2018-10-12 21:40] wbaumann commented on #88
@dosch I do aim to support others at some point, but truthfully it's much further back in our backlog. If you're curious and/or want to build the functionality yourself, I can walk you through exactly how to do so? Thanks!

[2018-10-13 06:28] neowulf commented on #88
Thank you for the details!

[2018-10-13 06:28] #88 closed

[2019-01-29 14:04] z2z opened #132 "Feature Request: Custom Field support"
Option to add custom fields (text/dropdown/static text).

[2019-02-01 13:52] wbaumann commented on #132
Hi @z2z ,

Appreciate the feedback! We already support this at the persistence level (i.e. the database has a couple `extra_edit_text` fields), which allows for arbitrary data to fill in. With that said, I haven't yet been able to come up with a good UX to track the dynamic field name, data type, etc. It shouldn't be too difficult if anyone wants to take a stab in the settings for adding this, but

[2019-03-04 21:12] darthwalsh opened #137 "Link from smartreceipts.co and Play Store to GitHub project"
I found this app on the play store and wanted to learn more about how it was created, but didn't find any links from the Play store listing or from https://www.smartreceipts.co. Since it was AGPL I chanced a google search and found this repo, but it would be nice if those sites linked here!

[2019-03-05 03:54] wbaumann commented on #137
Hi @darthwalsh -

I appreciate the feedback. We already have it linked off our website via the guide section:

- https://www.smartreceipts.co/guide#level2article2

Would that work? The play store is a bit more of a challenge, since I'll have to get some of the entries translated again, but I'll see if there's a good place to drop it in :).

Let me know!

[2019-03-05 16:03] darthwalsh commented on #137
Aha, I didn't see that at first but it makes sense now. I was looking in the header or footer from the main site, but that's probably findable.

[2019-03-05 16:49] wbaumann commented on #137
Sounds good! I'm going to close this for now. Let me know if you'd like me to re-open it

[2019-03-05 16:49] #137 closed

[2019-07-19 16:49] luciomagini opened #151 "Italian Translation"
Hello, are you interested for a contribution to translate the software in Italian language?
I can do it
please explain how can i produce an italian translation for Smart Receipts

Lucio

[2019-07-21 18:16] wbaumann commented on #151
Hi Lucio,

Thanks for reaching out to us! I would definitely love to have some assistance with Italian translations. Have you ever done translations for an app before? If not, I'll provide explicit steps for the translations. Let me know :)

And thank you so much for the help.

Best,
Will

[2019-07-22 06:52] luciomagini commented on #151
Hello Will,
I've made translation for web application using a properties file with "key/value".
Never worked with Mobile App.
Please provide explicit steps for me :-)

Thank you

Lucio

[2019-07-23 03:05] wbaumann commented on #151
Perfect! I really appreciate the help. Similar to what you've done before, Android "strings.xml" file acts as a "key/value" store. We save our strings across three files:

* [strings.xml](https://github.com/wbaumann/SmartReceiptsLibrary/blob/master/app/src/main/res/values/strings.xml)
* [preferences.xml](https://github.com/wbaumann/SmartReceiptsLibrary/blob/master/app/src/main/res/values/preferenc

[2019-07-23 06:04] luciomagini commented on #151
Hello Will,
i'm familiar with xml syntax like <string name="hello_2">Hello %s</string>. No problem at all.
Can you explain the Git workflow used to send the work?
I see a "fork" button in the file screen but i never used GitHub so i'm not sure..
I I don't want to mess up :-)

[2019-07-24 17:44] wbaumann commented on #151
Perfect! In terms of the pull request, I was starting to write something up, but I think GitHub did a better job of it with this article:

* https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

The rough flow will be:

1. Create a fork of this project
2. Do the translation work
3. Push to a branch in your fork
4. Submit that as a pull request

If you're not familiar with `git`

[2019-07-24 17:47] luciomagini commented on #151
Thanks Will,
i think i can try to do it :-)
Hope i will not need further assistance.
I will start italian translation in a few days.

Thank You

Lucio

[2019-07-24 17:49] wbaumann commented on #151
Thank you very much, Lucio! I'm here to help, so just let me know how it goes :)

[2019-07-25 06:15] luciomagini commented on #151
Translation started :-)

![translation started](https://user-images.githubusercontent.com/32448753/61850320-57afdc00-aeb4-11e9-8ec2-ddff84f70bff.jpg)

[2019-07-25 15:23] wbaumann commented on #151
Perfetto :)

[2019-07-28 07:37] luciomagini commented on #151
Ok, i've done it
Pulled :-)

[2019-09-02 17:22] davispuh commented on #70
@wbaumann do you know any good open source OCR library I could use? Basically my idea is that I don't want to use any third-party OCR API but instead self-host it on my own server.

[2019-09-02 17:58] davispuh commented on #70
Looks like [Tesseract](https://github.com/tesseract-ocr/tesseract) is way to go.

[2019-09-03 02:53] wbaumann commented on #70
Hey @davispuh,

TL;DR is that Tesseract is really good. I've spent a long while digging into the challenges around OCR for receipts, and here's what I've generally found:

* OCR is a reasonably "solved" problem in that there are lots of great open source libraries our there that convert the images to text (e.g. tesseract)
* The challenge for us is to translate text into the appropriate fields (e.g

[2019-09-20 08:18] eliaweiss opened #166 "PDF export fails"
If I have a receipt with PDF attachment, the generate pdf report fails

I think this can be solved be transforming the PDF to bitmap:

**dependencies**

[code]

**code**

[code]

[2019-09-20 08:21] eliaweiss opened #167 "PDF export fails to include receipt images in report"
When I chose to create a PDF report, the images are missing from the report

[טאא.pdf](https://github.com/wbaumann/SmartReceiptsLibrary/files/3634880/default.pdf)

[2019-09-20 16:02] wbaumann commented on #167
@eliaweiss I'm going to close this one in favor of #166

[2019-09-20 16:03] wbaumann commented on #166
@HeinousGames Can you take a look into this and see if it's related to our recent upgrade of the `'com.tom_roush:pdfbox-android'` library version

[2019-09-22 04:47] eliaweiss commented on #167
Hi wbaumann,
Please note that #166 and #167 are NOT the same issue.

In the case above I deleted the PDF attachments, and the PDF generate doesn't fail, it just comes out with blank imgs.
See the attached PDF for example.
10x

[2019-09-22 23:52] wbaumann commented on #167
CC @HeinousGames for this one too. We'll merge these fixes over to the release branch as well.

Thanks!

[2019-09-23 22:02] wbaumann commented on #167
@eliaweiss -

This one was introduced in:

https://github.com/wbaumann/SmartReceiptsLibrary/pull/161

And fixed in:

https://github.com/wbaumann/SmartReceiptsLibrary/pull/169

The crux of the bug is that we were calling:

[code]

Instead of only closing the image stream, so we were effectively preventing the images from being included.

Thank you for bringing this to my attention. It should be res

[2019-09-23 22:02] #167 closed

[2019-12-16 17:53] torqueing opened #190 "When Runing I get Fire Department"
When running this in the Android emulator it comes up as the Fire Service Reciepts. Is there any way to remove/stop that and just have the good old plain SmartReceipts?

Also I get these errors, I think they are from the oss-licenses-plugin:

API 'variant.getPreBuild()' is obsolete and has been replaced with 'variant.getPreBuildProvider()'.
API 'variant.getMergeResources()' is obsolete and has bee

[2019-12-16 21:13] wbaumann commented on #190
Where are you building from? Android Studio? Does this article help:

https://stackoverflow.com/questions/45746049/how-to-run-different-product-flavors-in-android-studio

[2019-12-17 10:26] torqueing commented on #190
Thank you, that worked! I am very new to app development!

[2019-12-17 19:50] wbaumann commented on #190
Glad that worked!

[2019-12-17 19:50] #190 closed

[2019-12-18 11:29] torqueing opened #193 "Crash with StrictMode DiskReadViolation"
Hi mate, when tested on my S8 it crashes with
```wb.receiptspro E/UncaughtException: java.lang.Error: android.os.strictmode.DiskReadViolation```
...snip...
[code]
It seems tto work fine on my S7 and the emulator but not my S8. Do you have any ideas?

[2019-12-19 01:00] wbaumann commented on #193
You may need to disable `StrictMode`. It's a useful way for us to identify if we're performing disk operations on the UI thread (and make things crash in development mode, so it's very likely an intentional crash due to that.

Do you have the entire stack trace?

[2019-12-19 01:53] torqueing commented on #193
I don't anymore. After playing around for a day I changed `StrictModeConfiguration.enable()` to `StrictModeConfiguration.disable()` in SmartReceiptsApplication.java and after throwing up errors Android studio put the following codeinStrictModeConfiguration.kt and it worked on my S8
[code]

[2019-12-19 01:58] torqueing commented on #193
I do get the following warnings (which don't seem to cause any problems though:
`API 'variant.getPreBuild()' is obsolete and has been replaced with 'variant.getPreBuildProvider()'`.
`API 'variant.getMergeResources()' is obsolete and has been replaced with 'variant.getMergeResourcesProvider()'`.

A Google search seems to think the former is a problem with the version of `com.google.android.gms:oss-

[2019-12-19 23:07] wbaumann commented on #193
I think those are separate issues, but I'll take a look into it later.

In general, we just need to audit all the disk reads from the UI thread. There aren't very many, but there are still a few that can freeze the user experience

[2020-04-16 22:31] trusktr opened #214 "Which code scans the receipts into usable data?"
Just curious, can you point me to the part of the code that takes the scan of a receipt and converts it to usable data?

[2020-04-21 21:30] wbaumann commented on #214
Hi @trusktr -

We use the following contract:

* https://github.com/wbaumann/SmartReceiptsLibrary/blob/9293a7b5b38711703bf285ce1f9c8341703474f4/app/src/main/java/co/smartreceipts/android/ocr/OcrManager.kt

And implementation:

* https://github.com/wbaumann/SmartReceiptsLibrary/blob/f697a659c6ff9312f2ea8c5b539d66823e8672e2/app/src/main/java/co/smartreceipts/android/ocr/OcrManagerImpl.java

But the

[2020-07-19 14:08] charm-cloud opened #231 "Question :What is used for image edge detection and cropping feature"

[2020-07-19 15:14] #231 closed

[2020-11-11 13:09] Wiphawee112 commented on #214
#241

[2020-11-19 09:25] andreacantone opened #252 "[Accessibility] Touch Target is not respected."
## Description

The size of the elements should be at least 48dp*48dp. Some elements don't respect the size of the touch target.

## How to reproduce the error

1. Activate the app [Accessibility Scanner](https://play.google.com/store/apps/details?id=com.google.android.apps.accessibility.auditor&hl=it&gl=US)
2. Open the app [Smart Receipts](https://play.google.com/store/apps/details?id=wb.receipts

[2020-11-19 09:27] andreacantone opened #253 "[Accessibility] Color Contrast is not respected."
## Description

The contrast ratio between text and background should be at least 4.5 . Some elements don't respect the contrast ratio.

## How to reproduce the error

1. Activate the app [Accessibility Scanner](https://play.google.com/store/apps/details?id=com.google.android.apps.accessibility.auditor&hl=it&gl=US)
2. Open the app [Smart Receipts](https://play.google.com/store/apps/details?id=wb.r

[2021-01-18 13:06] Hubertilus opened #257 "Reduced image size of photos"
When taking photos of my receipts, these photos are always stored with a reduced quality, independing if I use cropping or not.
I would like to uses the stored photos for customer complains (if required). But for receipts of a letter size, the quality is too poor to read all the text on the reciept. Using the photo app on my handy offers a good image quality, but this is not an option for me, beca

[2021-01-19 16:47] HeinousGames commented on #257
Hi @Hubertilus

For the receipts that are letter sized, are you marking them as "Full-Page Image?" When you add receipts to the app we have an option to make them full page or not. If you don't make them full page, we shrink four receipt images to one page on the report. If you'd like for this receipt to take up a full page (and possibly make it easier for you to read), then you should check the b

[2021-01-20 10:36] Hubertilus commented on #257
Hi

I've tried, but I did not help. I need to be more precise what my issue is:

1. I'm creating a new receipt entry. Therefore I tab on the Plus-Icon and then on the Photo-Icon.
2. After taking the photo, I'm asked for cropping. Here I choose full page (no cropping). Result will look same to me if i disable the cropping step in the settings.
3. Now I complete the entry.
4. Afterwards, I tab on th

[2021-02-14 07:45] Hubertilus opened #259 "Import of backup file fails"
Hello,

due to a reboot issue i needed to do a factory reset my Android mobile phone. Before doing that, I created a local backup of my Smart Receipts data. After installing Smart Receipts on the reset phone, I tried importing the backup file. The import fails with the erro message "Error: The file was not detected as importable" (original German message "Fehler: Die Datei wurde nicht als importie

[2021-02-14 07:54] Hubertilus commented on #259
I just tried opening the backup file with midnight commander and found, that it is a ZIP archive including files like .jpg, .xml and Database backup files. At least the ZIP file can be extracted using ZIP without any error message. So the ZIP seems not to be corrupted.

[2021-02-14 11:26] Hubertilus commented on #259
I did another test.

1. After resetting the Smart Receipt App (Via Android Settings->App menu),
2. I imported the working backup from 2020-10-05 (241.5 MB).
3. Afterwards I created a new backup file. But now it's 357.8 MB size.
4. I reset the Smart Receipts App again.
5. Importing the new file works fine.

Hm, so I tried another case:
1. After resetting the Smart Receipt App (Via Android Settings-

[2021-02-23 22:58] HeinousGames commented on #259
Hi @Hubertilus

Please try updating to our new version from the Beta channel, the version is 4.21.1.2500. You can download it by following these instructions:

1. Open Google Play Store and go to Smart Receipts app page
2. Scroll to the bottom to find a beta section
3. Tap the Join button and follow any instructions Google gives you
4. After you successfully join you can see a new update to Smart

[2021-04-26 22:18] earthspike opened #261 "Image hash does not match image exported in report"
I exported a CSV file and zip of 1 image. The CSV file had `B0961FC400D8FDF4` in the `Image Has - SHA256` field. Checking the image that was exported:

[code]
So this doesn't seem to match any SHA/MD5 of the downloaded receipt (or any 64 bit part of one). What is the SHA256 hash supposed to match? I'd ideally like to use it to correlate the downloaded image(s) with the line(s) in the CSV file.

[2021-07-04 00:08] e-t-l commented on #70
@wbaumann In your research, did you look at [Aspose OCR Receipt Scanner](https://products.aspose.app/ocr/scan-receipt)? It's open source, and making calls to their API is cheaper than Taggun's. There's also an option to self-host the OCR processing in a Docker image, so I could see Smart Receipts using that in two ways:
1. Users can self-host their own OCR servers and do unlimited scans for free
2

[2021-07-07 20:03] banezaka commented on #70
Gave Aspose OCR a quick glance, but I couldn't find the source code for the actual software, only some SDKs , there were several mentions about free trials and buying the product so curious to know in what way it is open source?

[2021-07-07 21:13] banezaka opened #263 "Cost is capped/cropped on main report page"
I am using a Samsung S20 and the cost isn't readable on the main report page.

Possible solutions; change the size of the field and change the amount of characters limit before it adds ellipsis.

![app](https://user-images.githubusercontent.com/263032/124828766-fcc80000-df77-11eb-89f7-de4dd6ee67e2.jpg)

[2021-07-07 21:18] banezaka opened #264 "Feature request: Settting to disable/enable currency name in front of amount"
If you are using a specific report for a specific country you don't need to see the currency all the time, all the expenses might be in the same currency, so it will be redundant to show it on each row. Is it possible to create a setting to hide the currency in front of the amount?

This functionality doesn't have to be per report, but that would of course be more flexible. If it is easier to firs

[2021-07-16 19:54] HeinousGames commented on #264
Even though you can designate a currency for a report, you can still add receipts under a different currency to that same report. In doing so, you would want to see that that receipt is different from the others in the report. I believe that this is why you can see the currency by default. I will talk to the product owner about adding this as an option in the settings, but it may not be implemente

[2021-07-16 19:55] HeinousGames commented on #263
Hi, we are aware of this problem and should have a fix implemented in the next version. Please be on the lookout for app updates and let us know if you run into any other issues.

[2021-07-16 20:15] HeinousGames commented on #257
Hi @Hubertilus,

I think I see what you mean, and I'm not sure if we can change this. Usually when the phone takes a photo, it is saving it with a high amount of megapixels so that you can zoom in and see details. When you add a photo to the app we re-save it in the app's database. I think we compress the photo, lowering the megapixels and reducing the zoom option. This is done to save space in th

[2021-07-25 04:18] Hubertilus commented on #257
Hello,

maybe you can add the compression level to the settings menu?

When following your step by step guide below, the photo quality is always
reduced when adding a photo to the app, even when the photo was taken in the
camera app.
I'm not sure what you mean with 'you can add multiple receipts/photos' in step
4. Do you mean add multiple photos by creating multiple receipts entries, and
all addit

[2021-07-27 21:39] HeinousGames commented on #257
Hi Hendrik,

Regarding your inquiry in my steps, yes. If you'd like more receipts with finer detail, you could add your own zoomed-in images. Since we don't allow multiple images for one receipt, you could add multiple $0 receipts with additional photos of the original receipt that is being added.

I will ask the product owner about the compression level and if we can alter it at all. I'm not sure

[2021-12-06 20:14] misterAnderson90 opened #271 "Cryptographic APIs misuses"
I'm a researcher exploring Static Analysis tools for detecting vulnerabilities due to crypto-API misuses. We have detected 4 warnings that reveal possible incorrect usages of the JCA library on SmartReceiptsLybrary. We documented these issues in private gists that we are willing to share with you.
How should we proceed to share these issues? We hope you can evaluate the severity of these warnings

[2021-12-11 18:39] Xylandor opened #272 "Feature Request: Multiple Image Support for Single Receipt"
I often have long receipts and trying to take a single picture of it can be a daunting task. It would be nice to have the ability to store multiple images on a receipt entry and be able to page through them easily (possibly by swiping) when viewing. This way, I can break down the long receipts by taking two or more pictures.

[2021-12-11 18:52] Xylandor opened #273 "Feature Request: Pince and Spread Ability During Image Preview"
After taking a picture, could we have the ability to zoom in to see the image on the preview screen? Sometimes, it is difficult to see line item details in the preview to make sure they are readable; and having a zoom feature would help determine whether or not to use the photo or retake it. Currently, I have to select "Use Photo", finish creating the receipt entry, view the image and zoom in ther

[2021-12-11 18:57] Xylandor commented on #273
My bad. I meant to post this in the iOS repository. Although, it could still be a good request for Android too.

[2021-12-11 18:58] Xylandor commented on #272
My bad. I meant to post this in the iOS repository. Although, it could still be a good request for Android too.

[2021-12-17 21:11] misterAnderson90 opened #274 "Cryptographic APIs misuses"
I'm a PhD student interested in finding security vulnerabilities in open source projects.

We found a total of 4  warnings (indicating potential vulnerabilities) when running the CogniCrypt static analyzer (*) on SmartReceiptsLibrary (or its library dependencies). We documented each one of these issues in private gists for the sake of confidentiality (non-disclosure).

Can you please let us know w

[2022-02-23 05:52] misterAnderson90 commented on #274
Hello @JuliaSoboleva,

Are you interested in receiving these private gists or should I close the issue?

[2022-02-25 06:00] #271 closed

[2022-03-16 17:45] #274 closed

[2022-04-19 19:17] tobiasBora commented on #272
I would also be really interested by this feature (on android). This is also interesting when we need both a picture/pdf of a train ticket and a picture/pdf of the receip.

[2022-04-27 23:09] mbkamble opened #275 "Move or copy of existing entry throws an error"
If i try to move a receipt entry, the app throws an error saying "Failed to move the receipt". Same behavior with copy.
I don't know if i am doing the operation incorrectly

[2022-08-20 19:22] HeinousGames commented on #275
Hi, sorry for the late reply.

- You could have a receipt that has a similar name already present in the report you are moving to. This sometimes happens to users who have recurring purchases each month, and might label their receipts with the same name. It works because they are in separate report folders, but once you try to move one into a folder that already has a similarly named receipt, it t